<footer>
    <div class="content-footer has-text-centered">
      <strong>Baseline Version</strong> by <a href="https://www.jeckino.com">Michele Bianchi</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      <div>
        <span class="icon has-text-link">
            <a href="https://github.com/Berejeck/" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </span>
        <span class="icon has-text-link">
            <a href="https://www.linkedin.com/in/mambo/" target="_blank">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
        </span>
        <span class="icon has-text-link">
            <a href="https://twitter.com/jeckino" target="_blank">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </span>
        <span class="icon has-text-link">
            <a href="https://www.instagram.com/jeckino/" target="_blank">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </span>
        <span class="icon has-text-link">
          <a href="https://www.facebook.com/michele.bianchi/" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
      </span>
      <span class="icon has-text-link">
        <a href="https://www.facebook.com/michele.bianchi/" target="_blank">
          <fa-icon [icon]="faTwitch"></fa-icon>
        </a>
    </span>
</div>
    </div>
</footer>
