<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">About <span class="has-text-weight-normal">TTT</span></h1>
                    <h2 class="subtitle">
                        MEAN Baseline (user management)
                    </h2>
                    <p class="content">
                      A starting point for simple sites and tools.
                    </p>
                </div>

<div class="column is-4 is-offset-1">
    <h3 class="title is-4">Our Mission</h3>
    <p class="content">Power our future. Democratize access to the world's simple tools.</p>
    <h3 class="title is-4">Quick Links</h3>
    <ul>
        <a target="_blank" href=""><li>Blog</li></a>
        <a target="_blank" href=""><li>Careers</li></a>
        <a href="/contact"><li>Contact Us</li></a>
    </ul>
    <hr>
    <ul>
        <li>
          <div>
            <span class="icon has-text-link">
                <a href="https://github.com/Berejeck/" target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://www.linkedin.com/in/mambo/" target="_blank">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://twitter.com/jeckino" target="_blank">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://www.instagram.com/jeckino/" target="_blank">
                  <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </span>
            <span class="icon has-text-link">
              <a href="https://www.facebook.com/michele.bianchi/" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
          </span>
          <span class="icon has-text-link">
            <a href="https://www.facebook.com/michele.bianchi/" target="_blank">
              <fa-icon [icon]="faTwitch"></fa-icon>
            </a>
          </span>
        </div>
      </li>
    </ul>
</div>

            </div>
        </div>
    </div>
</section>
