<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">About <span class="has-text-weight-normal">TTT</span></h1>
                    <h2 class="subtitle">
                        Test Team TOOLS
                    </h2>
                    <p class="content">
                        A set of tools usefull (or less) for daily activities. 
                    </p>
                </div>

<div class="column is-4 is-offset-1">
    <h3 class="title is-4">Our Mission</h3>
    <p class="content">Power our future. Democratize access to the world's automatic tools.</p>
    <h3 class="title is-4">Quick Links</h3>
    <ul>
        <a target="_blank" href="confluence/blog/"><li>Blog</li></a>
        <a target="_blank" href="intranet/careers"><li>Careers</li></a>
        <a href="/contact"><li>Contact Us</li></a>
    </ul>
    <hr>
    <ul>
        <li>
            <span class="icon has-text-link">
                <p class="content">
                    Me:
                </p>
            </span>
            <span class="icon has-text-link">
                <a href="https://github.com/Berejeck/" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://www.linkedin.com/in/mambo/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://twitter.com/jeckino" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://www.instagram.com/jeckino/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://www.facebook.com/michele.bianchi/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
        </li>
    </ul>
    <ul>
        <li>
            <span class="icon has-text-link">
                <p class="content">
                    Sia:
                </p>
            </span>
            <span class="icon has-text-link">
                &nbsp;
            </span>
            <span class="icon has-text-link">
                <a href="https://www.linkedin.com/company/sia-s-p-a-/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                <a href="https://twitter.com/SIA_pressoffice" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
            <span class="icon has-text-link">
                &nbsp;
            </span>
            <span class="icon has-text-link">
                <a href="https://www.facebook.com/GruppoSIA/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
        </li>
    </ul>
</div>
    
            </div>
        </div>
    </div>
</section>